<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
       <meta charset="utf-8">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body background="{{url_for('static', filename='images/analytics_background.png')}}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10" style="background-color:white; min-height:100vh; overflow:auto;">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/background">Background<span class="sr-only">(current)</span> </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/plots">Data Analysis and Visualization</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contacts">Contacts</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <br>
                    <h4>Summary of Data Analysis</h4>
                    <p class="font-weight-normal" >
                        <small>As mentioned in the background page, the team began to analyze the number of Dengue
                        cases in the cities of Iquitos, Peru and San Juan, Puerto Rico. The team took into account
                        a variety of factors such as, variations in air temperature, surface temperature, humidity
                        and many more. As we can see from the number of dengue cases vs the various factors we can
                        assume the factors that correlate the most is the population, surface temperature and 
                        air temperature.
                        </small>
                    </p>
                    <br>
                    <h4>Total Number of Dengue Cases in San Juan and Iquitos</h4>
                    <div id="dengue_cases_plot">
                        <img src="{{url_for('static', filename='images/total_dengue_cases.png')}}" align="top" style="float: left; width: 100%; height: 100%;"/>
                    </div>                     
                    <br>
                    <h4>Iquitos Dengue Analysis Plots</h4>
                    <div id="iquitos_air_temperature_plot">
                        <img src="{{url_for('static', filename='images/iquitos_air_temperature.png')}}" align="top" style="float: left; width: 100%; height: 100%;"/>
                    </div> 
                    <div id="iquitos_surface_temperature_plot">
                        <img src="{{url_for('static', filename='images/iquitos_surf_temperature.png')}}" align="top" style="float: left; width: 100%; height: 100%;"/>
                    </div>  
                    <div id="iquitos_himudity_plot">
                        <img src="{{url_for('static', filename='images/iquitos_humidity.png')}}" align="top" style="float: left; width: 100%; height: 100%;"/>
                    </div>
                    <div id="iquitos_precipitation_plot">
                        <img src="{{url_for('static', filename='images/iquitos_precipitation.png')}}" align="top" style="float: left; width: 100%; height: 100%;"/>
                    </div>
                   <div id="iquitos_population_plot">
                        <img src="{{url_for('static', filename='images/iquitos_population.png')}}" align="top" style="float: left; width: 100%; height: 100%;"/>
                    </div>
                    <br>
                    <br>
                    <h4>San Juan Dengue Analysis Plots</h4>
                    <div id="san_juan_air_temperature_plot">
                        <img src="{{url_for('static', filename='images/san_juan_air_temperature.png')}}" align="top" style="float: left; width: 100%; height: 100%;"/>
                    </div> 
                    <div id="san_juan_surface_temperature_plot">
                        <img src="{{url_for('static', filename='images/san_juan_surf_temperature.png')}}" align="top" style="float: left; width: 100%; height: 100%;"/>
                    </div>  
                    <div id="san_juan_himudity_plot">
                        <img src="{{url_for('static', filename='images/san_juan_humidity.png')}}" align="top" style="float: left; width: 100%; height: 100%;"/>
                    </div>
                    <div id="san_juan_precipitation_plot">
                        <img src="{{url_for('static', filename='images/san_juan_precipitation.png')}}" align="top" style="float: left; width: 100%; height: 100%;"/>
                    </div>
                   <div id="san_juan_population_plot">
                        <img src="{{url_for('static', filename='images/san_juan_population.png')}}" align="top" style="float: left; width: 100%; height: 100%;"/>
                    </div> 
                </div>
                <div class="col-1">
                </div>
            </div>
        </div>
    </body>
</html>