<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
       <meta charset="utf-8">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body background="{{url_for('static', filename='images/analytics_background.png')}}">
        <div class="container-fluid">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10" style="background-color:white; min-height:100vh; overflow:auto;">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/background">Background<span class="sr-only">(current)</span> </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/plots">Data Plots</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/team">The Team<span class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <br>
                    <div class="row">
                        <div class="col-md-6" id="dominic_profile">
                            <h4>Karan Bhanot<h4>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <img src="{{url_for('static', filename='images/karan_profile_pic.jfif')}}"
                                    style="height: 120px; width: 120px; object-fit: cover;"/>
                                </div>
                                <div class="col-9">
                                    <p class="font-weight-normal" >
                                        <small>Karan, our team lead and PhD student at RPI, has continued lead this project as he continues moving forward in his studies. Karan's interests include machine learning, technical writing and data science
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" id="dominic_profile">
                            <h4>Dominic Schroeder<h4>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <img src="{{url_for('static', filename='images/dominic_profile_pic.jfif')}}"style="height: 120px; width: 120px; object-fit: cover;"/>
                                </div>
                                <div class="col-9">
                                    <p class="font-weight-normal" >
                                        <small>Dominic is a 1st year graduate student at RPI and full-time employee at IBM.
                                        Dominic became interested in the project after speaking to Karan about his past projects and career goals.
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" id="isaac_profile">
                            <h4>Isaac Llewellyn<h4>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <img src="{{url_for('static', filename='images/isaac_profile_pic.jfif')}}" style="height: 120px; width: 120px; object-fit: cover;"/>
                                </div>
                                <div class="col-9">
                                    <p class="font-weight-normal" >
                                        <small>Isaac is a 3rd year Undergraduate student at RPI whose primary interests include Information Security and interesting projects to be a part of.
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" id="nicholas_profile">
                            <h4>Nicholas Luczak<h4>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <img src="{{url_for('static', filename='images/nicholas_luczak_profile_pic.jpg')}}" style="height: 120px; width: 120px; object-fit: cover;"/>
                                </div>
                                <div class="col-9">
                                    <p class="font-weight-normal" >
                                        <small>Nicholas Luczak works as a research technician at Albany Medical Center developing Brain-computer interfacing software for the National Center for Adaptive Neurotechnologies. He is a second semester senior at RPI and is looking to apply for graduate school in the fall.
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>